<h2>Physician name:</h2>
<h1><%= @physician.name %></h1>
<p><%= @physician.email %></p>
<p><%= @physician.unique_id%></p>
<br>
<br>
<h4>Show all related patients<h4>
<% @physician.patients.each do |t|%>
    <%= t.name %>
    <%= t.email %>
    <br>
<%end%>

