<br><br>
<h2><b>Has_many:through</b><h2>
<br>
<h5>Patient Table</h5>
<%= link_to 'Click here', patients_path%>
<h5>Physician Table</h5>
<%= link_to 'Click here', physicians_path %>
<h5>Appointment Table</h5>
<%= link_to 'Click here', appointments_path %>


<br>
<br>

<h2><b>Has_and_belongs_to_many<b></h2>
<br>
<h5>Industry Table</h5>
<%= link_to 'Click here ', industries_path%>
<h5>Sector Table</h5>
<%= link_to 'Click here', sectors_path %>
<br>
<br>

</div>